/* Contao newsletter style sheet */
.header_css_export { margin-left:15px; padding:2px 0 3px 20px; background-image:url("table-export.png"); background-position:left center; background-repeat:no-repeat; }
